* {
	margin: 0;
	padding: 0;
}

header {
	padding: 1.4rem;
	position: fixed;
	width: 100vw;
	background: #2f2f2f;
}


.header-container {
	display: grid;
	grid-template-columns: 25% 20% 35% 20%;
	justify-content: space-between;
	align-items: center;
}

h3 {
	margin: 0;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-list {
	display: flex;
	list-style: none;
	color: #fff;
	padding: 1rem 0 0 0;
	justify-self: center;
	margin-left: 0.5rem;
	list-style: none;
	height: 100%;
	justify-self: left;
}

.product-list li {
	margin: auto;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.product-list li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

ul.nav-list {
	margin: 0;
}

.nav-list {
	list-style: none;
	justify-self: center;
	display: flex;
	gap: 2rem;
	justify-content: space-evenly;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.nav-list form {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
}

.nav-list form input {
	background: inherit;
	border-style: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

.nav-list form img {
	width: 19px;
}

.nav-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

.shopping-cart {
	position: relative;
}

.shopping-cart img {
	width: 25px;
}

.shopping-cart p {
	margin: 0;
}

.shopping-cart span {
	border-radius: 30px;
	background: red;
	padding: 2px 8px;
	position: absolute;
	color: #fff;
	top: -25%;
	left: 50%;
}

.log-in {
	cursor: pointer;
}

.log-in img {
	width: 19px;
}

.log-in p {
	margin: 0;
}

.logout-and-home form {
	display: flex;
	justify-content: flex-end;
}

.logout-and-home form button {
	background: inherit;
	border-style: none;
	cursor: pointer;
}

.logout-and-home form button img {
	width: 45px;
}

.search {
	display: flex;
	justify-content: center;
	justify-self: right;
	position: relative;
	border-radius: 30px;
}

.search input {
	width: 280px;
	padding: 0.5rem 0.7rem;
	background: #f1f3f5;
	border: none;
	border-radius: 30px;
}

.search input:focus {
	border-color: #4dabf7;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 20px
		rgba(34, 139, 230, 0.5);
}

.search button {
	background: inherit;
	border: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 89%;
	cursor: pointer;
}

.search button i {
	color: #007bff;
	font-size: 20px;
}