* {
	margin: 0;
	padding: 0;
}

header {
	padding: 1.4rem;
	position: fixed;
	width: 100vw;
	background: #fff;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.4);
}


.header-container {
	display: grid;
	grid-template-columns: 20% 25% 40% 15%;
	justify-content: space-between;
	align-items: center;
}

h3 {
	margin: 0;
	font-size:1.5rem;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-list {
	display: flex;
	list-style: none;
	color: #fff;
	padding: 1rem 0 0 0;
	justify-self: center;
	margin-left: 0.5rem;
	list-style: none;
	height: 100%;
	justify-self: left;
}

.product-list li {
	margin: auto;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.product-list li a {
	color: #007bff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

ul.nav-list {
	margin: 0;
}

.nav-list {
	list-style: none;
	justify-self: center;
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.nav-list form {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
}

.nav-list form input {
	background: inherit;
	border-style: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

.nav-list form img {
	width: 19px;
}

.nav-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #007bff;
}

.shopping-cart {
	position: relative;
}

.shopping-cart img {
	width: 25px;
}

.shopping-cart p {
	margin: 0;
}

.shopping-cart span {
	border-radius: 30px;
	background: red;
	padding: 2px 7px;
	position: absolute;
	color: #fff;
	top: -25%;
	left: 50%;
}

.log-in {
	cursor: pointer;
}

.log-in img {
	width: 19px;
}

.log-in p {
	margin: 0;
}

.logout-and-home form {
	display: flex;
	justify-content: flex-end;
}

.logout-and-home form button {
	background: inherit;
	border-style: none;
	cursor: pointer;
}

.logout-and-home form button img {
	width: 45px;
}

.search {
	display: flex;
	justify-content: center;
	justify-self: right;
	position: relative;
	border-radius: 30px;
}

.search input {
	width: 280px;
	padding: 0.5rem 0.9rem;
	background: #f1f3f5;
	border-radius: 30px;
	border-width: .125rem;
	border-color: #f1f3f5;
	border-style: solid;
}

.search input:focus {
	border-color: #4dabf7;
	
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px
		rgba(34, 139, 230, 0.5);
}

.search button {
	background: inherit;
	border: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 89%;
	cursor: pointer;
}

.search button i {
	color: #007bff;
	font-size: 20px;
}
@media screen and (max-width: 1300px) {
  	.header-container {
		grid-template-columns: 17.5% 25% 37.5% 20%;
	}
	h3 {
		margin: 0;
		font-size:1.3rem;
	}
	.search input {
		width: 240px;
	}
}