.order-confirm {
	padding: 130px 3rem 3rem 3rem;
	min-height: 95vh;
}

.order-confirm-container {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	background: #fff;
	max-width: 80%;
	margin: auto;
	padding: 2rem 2rem;
}

.checkmark {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	justify-content: center;
}

.order-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.order-table {
	background: rgba(230, 227, 227, 0.452);
	display: grid;
	grid-template-columns: 75% 12.5% 12.5%;
	padding: 1rem;
}
.order-table h4 {
	text-align: left;
	margin: 0;
	font-size: 22px;
}
.order-table p {
	font-weight: bold;
	margin: 0;
}
.orderline {
	display: grid;
	grid-template-columns: 17.5% 59% 9.5% 14%;;
}

.orderline img {
	width: 120px;
	align-self: center;
}

.orderline-info {
	align-self: center;
}

.orderline-info p {
	margin: 0;
}
.quantity {
	align-self: center;
	font-weight: bold;
}
.price {
	align-self: center;
	font-weight: bold;
	color: red;
}
.sum-of-order {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sum-of-order p {
	font-weight: bold;
	padding: 0 0.3rem;
	font-size: 22px;
	color: red;
}