.products {
	max-width: 1538px;
	margin: auto;
	padding-top: 130px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 100px;
}
.cart-image {
	width: 50px;
}
.product-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}
.product {
	height: 100%;
	width: 100%;
	display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 1rem 0;
    background: #f5f5f5;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}
.product img {
	width: 80%;
}
.product-info {
	width: 70%;
	margin: auto;
}
.product-info p {
	margin: 0;
}
.price-and-button {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.price-and-button p {
	margin: 0;
}