.view-product-container {
	padding: 130px 2rem 4rem 2rem;
	min-height: 95vh;
}
.top {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	padding: 1rem;
}

.top h1 {
	grid-column: 2 / span 1;
}
.product-table {
	max-width: 80vw;
	margin: auto;
	overflow-y: scroll;
	max-height: 60vh;
}
.table {
	border: solid 1px #000;
}
.table tbody td  {
	vertical-align: baseline;
}
.table tbody td img {
	width: 100px;
}
.table .thead-dark th {
	background: #2f2f2f!important;
}
.underlying-with-opacity {
	position: fixed;
	background: black;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
	display: none;
}

.edit-form {
	width: 450px;
	margin: auto;
	border: solid #2f2f2f 2px;
	padding: 3rem;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: #fff;
	display: none;
}
.exit i {
	font-size: 25px;
	position: absolute;
	top: 7px;
	left: 93%;
}

.edit-form form {
	width: 90%;
	margin: auto;
}

.form-control {
	margin: 0.5rem 0;
}
.add-product {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.register-form {
	width: 450px;
	margin: auto;
	border: solid #2f2f2f 2px;
	padding: 3rem;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: #fff;
	display: none;
}
.register-form form {
	width: 90%;
	margin: auto;
}
.select {
	padding: 0.41rem;
	border: 1px solid #ced4da;
	width: 100%;
	margin: 0.5rem 0;
	border-radius: 5px;
}