<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
	xlmns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Clothes</title>
<link th:href="@{/css/products.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/footer :: head"></th:block>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	


	<div class="products">
		
		<div class="product-container">
			<article class="product" th:each="product : ${clothes}">
				<div class="admin-actions" sec:authorize="hasAuthority('ADMIN')">
					<a class="edit" th:href="@{'/edit/' + ${product.id}}">
						<img alt="" src="../images/edit-solid.svg">
					</a>
					<a class="delete" th:href="@{'/delete/' + ${product.id}}">
						<img alt="" src="../images/trash-alt-solid.svg">
					</a>
				</div>
				<img alt="" th:src="@{${'images/' + product.imageUrl}}">
				<div class="product-info">
					<p th:text="${product.productName}" style="font-weight: bold;"></p>
					<p th:text="${product.brand}"></p>
				</div>
				<div class="price-and-button">
					<p th:text="${product.price} + ' kr'" style="font-weight: bold;"></p>
					<a th:href="@{'/products/{productId}'(productId=${product.id})}">
						<button class="btn btn-primary">Add To Cart</button>
					</a>

				</div>
			</article>
		</div>
	</div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>