<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
	xlmns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link th:href="@{/css/register.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/footer :: head"></th:block>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<div class="container text-center">
		<form th:action="@{/doLogin}" method="post"
			style="max-width: 600px; margin: auto;">
			<h2>Sign In</h2>
			<div class="input-wrapper">
				<div class="form-group row">
					<input class="form-control" type="text" placeholder="Username"
						name="username" required /> <input class="form-control"
						type="password" placeholder="Password" name="password" required
						minlength="6" maxlength="12" />
				</div>
				<div class="button-container">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
				<div th:if="${param.error}">
					<p class="text-danger" style="margin:0; font-weight:bold;">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
				</div>
				<div class="register">
					<p>Not a member?</p>
					<a th:href="@{/register}">Register Here</a>
				</div>
			</div>
		</form>
	</div>


	<div class="underlying-with-opacity"></div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>