<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
	xlmns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link th:href="@{/css/register.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/footer :: head"></th:block>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="container text-center">
		<h1>Registration Form</h1>
		<form th:action="@{/register}" method="post" th:object="${user}" style="max-width:600px; margin: auto;">
			<div class="input-wrapper">
				<div class="form-group row">
					<input class="form-control" type="text" placeholder="Username" th:field="*{username}" required />
					<input class="form-control"  type="email" placeholder="Email" th:field="*{email}" required />
					<input class="form-control"  type="password" placeholder="Password" th:field="*{password}" required minlength="6" maxlength="12"/>
				</div>
				<div style="width: 100%">
					<button style="width:120px" type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>
	</div>
	
	

	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>