<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
	xlmns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Product Register</title>
<link th:href="@{/css/view-products.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/footer :: head"></th:block>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<div class="view-product-container">
		<div class="top">
			<h1 style="text-align:center; ">Product Register</h1>
			<div th:insert="fragments/header :: logout"></div>
		</div>
		<div class="product-table">
			<table class="table table-striped table bordered">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th>ID</th>
						<th>Brand</th>
						<th>Name</th>
						<th>Category</th>
						<th>Price</th>
						<th>Status</th>
						<th style="width:150px; text-align:center;">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${products}">
						<td><img alt="" th:src="@{${'../images/' + product.imageUrl}}"></td>
						<td th:text="${product.id}"></td>
						<td th:text="${product.brand}"></td>
						<td th:text="${product.productName}"></td>
						<td th:text="${product.category}"></td>
						<td th:text="${product.price}  + ' kr'"></td>
						<td th:if="${product.removed == false}" >In Stock</td>
						<td th:if="${product.removed == true}" >Not In Stock</td>
						<td style="text-align:center;">
							<i class="fas fa-edit" style="font-size:25px; margin: 0 5px;" th:data-thing="${product.id}" th:onclick="showProductForm(this.getAttribute('data-thing'));"></i>
							<a th:if="${product.removed == false}" class="delete" style="color:#000;" th:href="@{'/admin-portal/products/delete/' + ${product.id}}">
								<i class="fas fa-trash-alt" style="font-size:25px; margin: 0 5px;"></i>
							</a>
							<a th:if="${product.removed == true}" class="add" style="color:#000;" th:href="@{'/admin-portal/products/addToView/' + ${product.id}}">
								<i class="fas fa-plus-circle" style="font-size:25px; margin: 0 5px;"></i>
							</a>
						</td>
						<div class="edit-form" th:id="'edit' + ${product.id}">
							<div class="exit">
								<i class="far fa-times-circle" th:data-thing="${product.id}" th:onclick="hideProductForm(this.getAttribute('data-thing'));"></i>
							</div>
							<form th:action="@{'/admin-portal/products/edit/{productId}'(productId=${product.id})}" method="post" th:object="${product}">
								<div class="input-wrapper">
									<div class="form-group row">
										<input class="form-control" type="text" placeholder="Product Name" th:field="${product.productName}" /> 
										<input class="form-control" type="text" placeholder="Brand" th:field="${product.brand}" /> 
										<input class="form-control" type="number" placeholder="New Price" th:field="${product.price}"/>
									</div>
									<div style="width: 100%; display:flex; justify-content:center;">
										<button style="width: 120px" type="submit"class="btn btn-primary">Save</button>
									</div>
								</div>
							</form>
						</div>
						
					</tr>
				</tbody>
			</table>
		</div>
		<div class="add-product" >
			<button class="btn btn-primary" onClick="showRegisterForm()">Add Product <i class="fas fa-plus-circle"></i></button>
		</div>
		<div class="register-form">
			<div class="exit">
				<i class="far fa-times-circle" onClick="hideRegisterForm()"></i>
			</div>
			<form th:action="@{'/admin-portal/add-product'}" method="post" th:object="${product}">
				<div class="input-wrapper">
					<div class="form-group row">
						<input class="form-control" type="text" placeholder="Product Name" th:field="${product.productName}" /> 
						<input class="form-control" type="text" placeholder="Brand" th:field="${product.brand}" />
						<input class="form-control" type="number" placeholder="New Price" th:field="${product.price}"/>
						<select class="select" th:field="${product.imageUrl}">
							<option value="">Choose Image</option>
							<option th:each="image : ${images}" th:value="${image}" th:utext="${image}"/>
						</select>
						<select class="select" th:field="${product.category}">
							<option value="">Choose Category</option>
							<option th:value="SUPPLEMENT" >Supplement</option>
							<option th:value="CLOTHES" >Clothes</option>
							<option th:value="TRAINING_SHOES" >Shoes</option>
						</select>  
					</div>
					<div style="width: 100%; display:flex; justify-content:center;">
						<button style="width: 120px" type="submit"class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="underlying-with-opacity"></div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>